

div {
    font-size: 16px;
}

.bigblue {
    font-size: 20px;
    color: blue;
}

.bigred {
    font-size: 20px;
    color: red;
}

span.bigblue {
    color: green;
}

.bigred span {
    color: blue;
}

.block>p{
    color: pink;
    border: 1px solid #000;
}