.body
    font-size: 18px

.vitalik
    &__body
    &__header
    &__title 
        margin: 0 0 30px 0
    &__text
    &__foto
    &__colon

.title
    font-size: 35px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 9px
    padding: relative 
    text-align: center