@charset "UTF-8";
.b {
  background-color: #6e0d0d;
  width: 33.3333333333%;
  line-height: 20px;
  padding: 50px;
  /* @include fz(24px)  */ 
}
.b span {
  color: #0400e0;
}

.p {
  font-size: 24px;
  color: #07f73b;
  text-decoration: underline;
}
.p:hover {
  color: #c50303;
}
.b .p {
  font-size: 100px;
  padding: 5px;
  /* @extend %pepe*/
}

/*$pz:80px это параметр
 *
 *  @import filePath это импорт 
 *
 *  %pepe 
 *  padding: auto это шаблон 
 *
 *      @mixin fz($f)   
 *  font-size: $f
 *  по сути шаблон с параметрами */