
.block {
    margin: 30px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    background: linear-gradient(rgba(150, 50, 0) 0%, rgba(150, 50, 25) 50%, rgba(150, 50, 50) 100%);
}