.body {
  font-size: 18px;
}

.vitalik__title {
  margin: 0 0 30px 0;
}
.title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 9px;
  padding: relative;
  text-align: center;
}