* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.block1 {
  background: radial-gradient(rgb(240, 235, 235) 0%, rgb(250, 235, 235) 50%, rgb(255, 240, 240) 100%);
  height: 800px;
  margin: 0 0;
}

.menu {
  margin: 0 0;
  height: 100px;
}

.menu__row {
  width: 700px;
  margin: 0 auto;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
}
.menu__item a {
  padding: 10px;
  text-transform: uppercase;
  color: #4d4959;
  font-size: 13px;
  letter-spacing: 3px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.menu__item a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #5b707c;
  border: 1px solid black;
}
.menu__item a {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.menu__item img {
  height: 100px;
  border-radius: 10px;
}
.menu__item:nth-child(2):after, .menu__item:nth-child(6):after {
  content: ".";
  margin: 0;
  padding: 0;
  font-size: 18px;
}