//первая часть
.body 
    font-family: Arial
    
.wrapper 
    min-height: 100%
    overflow: hidden

    display: flex
    flex-direction: column
.content
    flex: 1 1 auto
.footer
    background-color: #fff
.hi
    background-color: #7a7a7a
    padding: 50px
    height: 360px
.container
    max-width: 1180px
    margin: 0 auto
.footer__row
    display: flex
    height: 65px
    justify-content: center
    align-items: center
.hi__row
    display: flex
    justify-content: space-between
.footer__text
    color: #00725fa2
    font-size: 16px
    letter-spacing: 0.3px //расстояние между буквами
.hi__body
    color: #fff
.hi__titel
    text-shadow: 1px 1px 0 #000
    font-size: 34px
    margin: 25px
    line-height: 27px //межстрочный интервал
.hi__list
.hi__list li
    background-image: url('../img/icon.png') 0 0 no-repeat //c хуя какого то не работает
    margin: 0 0 15px 0
    padding: 0 0 0 30px
    line-height: 22px
    font-size: 20px
.hi__list li:last-child
    margin: 0

.hi__img
/*     transform: scale(0.3)
    max-width: 100%   // Содержимся в заданных размерах
    width: 50vw      // Занимаем половину от ширины viewport'а
    height: auto  // Сохраняем пропорции */
.title
    color: #02708b
    font-size: 30px
    line-height: 40px

//вторая часть

.what
    padding: 50px 30px
    &__row
        display: flex

    &__img
        padding: 30px 0 0 0
        transform: scale(1) //уменьшил изображение, изменил, но здесь не нужно
        flex: 0 0 500px
    &__img img
        max-width: 100%
    &__body
        padding: 0 0 0 38px    
    &__titl
    &__text
    &__text p
        margin: 0 0 25px 0
        font-size: 18px
        line-height: 24px

//третья часть

.columns
    background-color: #e9e8e8
    padding: 50px 0 20px 0

    &__titel
        text-align: center //центрирование
        margin: 0 0 30px 0

    &__row
        display: flex
        flex-wrap: wrap
        height: 440px
        margin: 0 -10px//относится к паддингу ниже....я начинаю путаться в таком колличестве

    &__col
        padding: 0 10px //почуму падинг? сдвиули круто, но почему не марджин?
        flex: 0 1 50%
        margin: 0 0 30px 0
    &__item

.colitem
    &__row
        display: flex

    &__img
        flex: 0 0 207px

    &__body
        flex: 1 1 auto
        padding: 0 0 0 15px

    &__titel
        font-size: 24px
        line-height: 24px
        color: #c40000
        padding: 0 0 15px 0

    &__text
        font-size: 18px
        line-height: 24px

//четвёртая часть

.vert
    padding: 50px 0

    &_titel
        text-align: center

    &_body
        min-width: 1000px
        margin: 0 auto

    &__row
        display: flex
        margin: 0 -20px
        
    &__col
        padding: 0 20px
        flex: 0 1 33.33%//запрещаю увеличиваться, разрешаю уменьшатья 

    &__item
        background-color: #363655
        color: #fff
        border-radius: 10px
        border: 1px solid #363655

    &__subtitel
        text-align: center
        font-size: 24px
        text-transform: uppercase
        padding: 12px 0

    &__label
        text-align: center
        background: #fff
        color: #363655
        padding: 15px 0
        font-size: 40px
    &__text
        padding: 20px
        font-size: 18px
        line-height: 24px

    &__btn
        text-align: center
        background: #ffffff
        color: #363655
        padding: 15px 0
        font-size: 40px
        margin: 0 20px
        border-radius: 5px

.container

.title