
.example-block {
    border: 2px dashed #000;
    

    font-size: 30px;
    margin: 0 0 30px 0;
}

.example-string {
    font-size: 30px;
}

.example-image {
    width: 100%;
    max-width: 400px;
    min-width: 100px;
    padding: 10px;
}